{{! app/templates/components/admin-blog-form.hbs }}

{{#if showAlertMessage}}
<div class="alert alert-{{alertMessageType}}">{{{alertMessage}}}</div>
{{/if}}

<form {{action 'submitBlogForm' on='submit'}}>
  <div class="form-group">
    <label for="blog-type">Type</label>
    <div class="btn-group-radio">
      <button {{action 'clickType' 'Post'}} class="btn btn-default {{activePost}}">Post</button>
      <button {{action 'clickType' 'Recipe'}} class="btn btn-default {{activeRecipe}}">Recipe</button>
      <button {{action 'clickType' 'Review'}} class="btn btn-default {{activeReview}}">Review</button>
    </div>
  </div>
  <div class="form-group">
    <label for="blog-title">Title</label>
    {{input value=blogTitle class=inputClassTitle type='text' id='blog-title' placeholder='Enter your blog title' autocomplete='off'}}
  </div>
  <div class="form-group">
    <label for="blog-body">Body</label>
    {{textarea value=blogBody class=inputClassBody type='text' id='blog-body' placeholder='Enter your blog body' autocomplete='off'}}
    <p class="help-block">Allowed tags: &lt;p&gt;&lt;em&gt;&lt;strong&gt;&lt;a&gt;&lt;img&gt;</p>
  </div>
  <div class="form-group">
    <label for="blog-published-date">Published Date</label>
    {{input value=blogPublishedAt class=inputClassDate type='date' id='blog-published-date' placeholder='Enter your blog published date'}}
  </div>
  <div class="form-group">
    <label for="blog-status">Status</label>
    <div class="btn-group-radio">
      <button {{action 'clickStatus' 'Published'}} class="btn btn-default {{activePublished}}">Published</button>
      <button {{action 'clickStatus' 'Draft'}} class="btn btn-default {{activeDraft}}">Draft</button>
    </div>
  </div>
  <p>
    <button type="submit" class="btn btn-success btn-block" disabled={{buttonDisabled}}>Save</button>
  </p>
  {{#if showCancelButton}}
  <p>
    <button {{action 'cancelBlog'}} class="btn btn-danger btn-block" disabled={{buttonDisabled}}>Cancel</button>
  </p>
  {{/if}}
  {{#if showDeleteButton}}
  <p>
    <button {{action 'deleteBlog'}} class="btn btn-danger btn-block" disabled={{buttonDisabled}}>Delete</button>
  </p>
  {{/if}}
</form>
