{{! app/templates/components/admin-blogs-list.hbs }}

{{#if blogs}}
<table class="table table-bordered">
  <tbody>
    {{#each blogs as |blog|}}
      <tr class="blog-title">
        <td colspan="2">
          {{#link-to 'admin.blogs.edit' blog.id}}<span class="record-label">Title</span> {{blog.title}}{{/link-to}}
        </td>
      </tr>
      {{#if currentUser.isAdmin}}
        <tr>
          <td colspan="2">
            {{#link-to 'admin.blogs.edit' blog.id}}
              <span class="record-label">Author</span> {{blog.author}}
            {{/link-to}}
          </td>
        </tr>
      {{/if}}
      <tr>
        <td colspan="2">
          {{#link-to 'admin.blogs.edit' blog.id}}
            <span class="record-label">Published</span> {{formatted-date blog.publishedAt format='LL'}}
          {{/link-to}}
        </td>
      </tr>
      <tr class="type-status">
        <td>
          {{#link-to 'admin.blogs.edit' blog.id}}<span class="record-label">Type</span> {{blog.category.name}}{{/link-to}}
        </td>
        <td>
          {{#link-to 'admin.blogs.edit' blog.id}}<span class="record-label">Status</span> {{blog.formattedStatus}}{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{else}}
<div class="alert alert-info">
  <p>There are no blogs found. {{#link-to 'admin.blogs.new'}}Create{{/link-to}} a new blog instead.</p>
</div>
{{/if}}
