{{! app/templates/components/admin-user-form.hbs }}

{{#if showAlertMessage}}
<div class="alert alert-{{alertMessageType}}">{{{alertMessage}}}</div>
{{/if}}

<form {{action 'submitUserForm' on='submit'}}>
  <div class="form-group">
    <label for="user-title">Role</label>
    <div class="btn-group-radio">
    <div class="btn-group-radio">
      <button {{action 'clickRole' 'Admin'}} class="btn btn-default {{activeAdmin}}">Admin</button>
      <button {{action 'clickRole' 'Editor'}} class="btn btn-default {{activeEditor}}">Editor</button>
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="user-first-name">First Name</label>
    {{input value=firstName type='text' class=inputClassFirstName id='user-first-name' placeholder='Enter first name' autocomplete='off'}}
  </div>
  <div class="form-group">
    <label for="user-last-name">Last Name</label>
    {{input value=lastName type='text' class=inputClassLastName id='user-last-name' placeholder='Enter last name' autocomplete='off'}}
  </div>
  <div class="form-group">
    <label for="user-email">Email</label>
    {{input value=email type='email' class=inputClassEmail id='user-email' placeholder='Enter email' autocomplete='off'}}
  </div>
  <div class="form-group">
    <label for="user-password">Password</label>
    {{input value=password type='text' class=inputClassPassword id='user-password' placeholder='Enter password' autocomplete='off'}}
  </div>
  <p>
    <button type="submit" class="btn btn-success btn-block" disabled={{buttonDisabled}}>Save</button>
  </p>
  {{#if showCancelButton}}
  <p>
    <button {{action 'cancelUser'}} class="btn btn-danger btn-block" disabled={{buttonDisabled}}>Cancel</button>
  </p>
  {{/if}}
  {{#if showDeleteButton}}
  <p>
    <button {{action 'deleteUser'}} class="btn btn-danger btn-block" disabled={{buttonDisabled}}>Delete</button>
  </p>
  {{/if}}
</form>
