<h2>
  <a href="/{{string-to-lower 'Post'}}s/{{blog.id}}">{{blog.attributes.title}}</a>
</h2>
<p class="meta">
  {{blog-author-link authorId=user included=included}} •
  {{blog-category-link category=category included=included}} •
  <time datetime="{{blog.attributes.published-at}}">{{moment-date blog.attributes.published-at startOf='second'}}</time>
</p>
<p>{{truncate-text blog.attributes.body length=150}}</p>
<p>
  <a class="btn btn-default" href="/{{string-to-lower 'Post'}}s/{{blog.id}}" role="button">Continue Reading »</a>
</p>
