<div class="row">
  <div class="col-sm-12">
    <h1 id="title">{{title}}</h1>
  </div>
</div>
<h2>{{link-to blogTitle blogRoute blogId}}</h2>

<p class="meta">
  {{link-to author blogsUserRoute authorId}} •
  {{link-to category categoryRoute}} •
  <time datetime="{{blog.attributes.published-at}}">{{moment-date publishedAt startOf='second'}}</time>
</p>

{{{unescape-html blogBody}}}

<p><button {{action 'goBack'}} class="btn btn-default">« Back</button></p>
