<h2>{{link-to blogTitle blogRoute blogId}}</h2>

<p class="meta">
  {{link-to author blogsUserRoute authorId}} •
  {{link-to category categoryRoute}} •
  <time datetime="{{publishedAt}}">{{moment-date publishedAt startOf='second'}}</time>
</p>
<p>{{truncate-text blogBody length=150}}</p>
<p>{{link-to 'Continue Reading »' blogRoute blogId class='btn btn-default'}}</p>
