<h2>{{link-to blog.attributes.title blogRoute blog}}</h2>

<p class="meta">
  {{link-to author 'users.show' user.data.id}} •
  {{link-to category categoryRoute}} •
  <time datetime="{{blog.attributes.published-at}}">{{moment-date blog.attributes.published-at startOf='second'}}</time>
</p>
<p>{{truncate-text blog.attributes.body length=150}}</p>
<p>{{link-to 'Continue Reading »' blogRoute blog class='btn btn-default'}}</p>
